html,
body {
  margin: 0 auto;
  max-width: 720px;
  font-family: rubik;
  background-color: rgb(113, 113, 163);
}
.btn {
  padding: 100px;
  color: black;
  text-decoration: none;
  background-color: gold;

  margin: 0 auto;
}
.form {
  border: none;
}
.one {
  padding: 10px;

  border: none;
}
.send {
  padding: 10px;
  border: none;
  background-color: rgba(7, 7, 4, 0);
}
.page {
  background-color: blue;
  bottom: 100px;
  max-width: 500px;
  margin: 0 auto;
}
